{{page-title "Movies"}}

<h2>Movies</h2>

<div class="video-container">
    <video controls width="500">
        <source src="/movies/spiritedaway.mp4" type="video/mp4">
    </video>

    <video controls width="500">
        <source src="/movies/lalaland.mp4" type="video/mp4">
    </video>
</div>

{{outlet}}