{{page-title "Movies"}}

<h2>Movies</h2>
<div>
    {{#each this.model as |movie|}} 
    <li>
        <h3>{{movie}}</h3>
        <video controls>
            <source src="http://localhost:8000/public/movies/{{movie}}" type="video/mp4">
        </video>
    </li>
    {{/each}}
</div>

{{outlet}}