{{page-title "Reviews"}}

<h2>Reviews</h2>
<p>Here you will see reviews from critics or other people</p>

<form>
    <label for="fname">Movie title:</label><br>
    <input type="text" id="fname" name="fname" value="Ex: La La Land"><br>
    <label for="lname">Rating(out of 5):</label><br>
    <input type="text" id="lname" name="lname" value="Ex: 5"><br><br>
    <input type="submit" value="Submit">
</form> 

{{outlet}}